@{
    ViewData["Title"] = "Курс";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>Heading</h2>
@*               add video (optional)*@
                <p>Text</p>
                <form>
                    <button type="button" class="btn btn-primary">Дальше</button>
                </form>
            </div>
        </div>
    </div>
</div>