@model CoursWork.Models.UserCourse

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UserCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUser" />
            <input type="hidden" asp-for="IdCouse" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Appointment" /> @Html.DisplayNameFor(model => model.Appointment)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Finished" /> @Html.DisplayNameFor(model => model.Finished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ResultPercent" class="control-label"></label>
                <input asp-for="ResultPercent" class="form-control" />
                <span asp-validation-for="ResultPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

