@{
    ViewData["Title"] = "Мои курсы";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
<div class="row">
    <div class="col-md-4">
        <h2>Heading</h2>
        <img class="img-rounded" data-src="holder.js/140x140" alt="140x140" src="" style="width: 140px; height: 140px;">
        <p>Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="#">Heading</a></h2>
        <img class="img-rounded" data-src="holder.js/140x140" alt="140x140" src="" style="width: 140px; height: 140px;">
        <p>Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <img class="img-rounded" data-src="holder.js/140x140" alt="140x140" src="" style="width: 140px; height: 140px;">
        <p>Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a>
        </p>
    </div>
</div>
</div>