@model CoursWork.Models.Theory

@{
    ViewData["Title"] = "Теория";
}

<h2>Теория</h2>



<div class="container">
    <p class="text-justify">@Model.Text</p>

    <br />

    <a class="btn btn-primary center-block" asp-action="FinishTheory" asp-route-id="@Model.Id">Ознакомился</a>


</div>