@{
    ViewData["Title"] = "Home Page";
}
<br/>
@*<a href="Login">Login</a>*@

<a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
<br/>
<a asp-area="" asp-controller="Home" asp-action="MyCourses">MyCourses</a>
<br/>
<a asp-area="" asp-controller="Home" asp-action="Course">Course</a>
<br/>
<a asp-area="" asp-controller="Home" asp-action="Theory">Theory</a>
<br/>
<a asp-area="" asp-controller="Home" asp-action="Test">Test</a>
<br/>