@{
    ViewData["Title"] = "Курс";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Heading</h2>

            <p>Text</p>

            <form>

                <ol>
                    <li>
                        <p>Question 1</p>
                        <div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 1</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 2</label>
                            </div>

                        </div>
                    </li>
                    <li>
                        <p>Question 2</p>
                        <div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 1</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 2</label>
                            </div>

                        </div>
                    </li>

                </ol>

                <div class="text-center">
                    <button type="button" class="btn btn-primary">Проверить</button>
                    
                </div>
                
            </form>

        </div>
    </div>
</div>